extends layout

block title
  title Dashboard | Parkside Lending

block content
  .row
    .col-sm-6
      h3 Parkside Lending Dashboard

  .row
    .col-sm-12
      hr
      if created
        div.alert.alert-success
          span Loan request for 
            strong $#{created.amount}
            |  was 
            strong= created.statusDesc
            |. ID: #{created.id}.


  .col-sm-12
  a.btn.btn-default(type='submit' href='/loan') Request a loan
  table.table.table-striped.table-hover.mifalim-table
    thead
      tr
        th SSN
        th Loan amount
        th Property value
        th LTV
        th Loan status
        th ID
    tbody
      each loan in loans
        tr
          td #{loan.ssn}
          td $#{loan.commas(loan.amount)}
          td $#{loan.commas(loan.value)}
          td #{loan.ltvPercent().toFixed(2)} %
          td #{loan.statusDesc()}
          td #{loan.id}
